

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
  /*start vavbar section */
  .nav-sec{
    position: relative;
	padding: 0rem;
}
.page-container{
	margin-top: 0;
}
.content{

	/* margin-left: 195px!important; */
}

.icon-lock:hover{
	cursor: not-allowed!important;
  }



/* button direction */
.btn_direction{
	width: 45px;
	height: 45px;
	background-color: #Fa2c27;
	color: #fff;
	text-align: center;
	padding: 2px 0;
	border: 0px;
	padding-bottom: 25px!important;
	font-size: 30px;
	position: absolute;
	right: 30px;
	top: 550px;
	position: fixed;
	z-index: 100!important;
	display: none;
	border-radius: 8px!important;
  }



@media (min-width:992px){

    .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu{
	   background-color: #1f1f1f!important;
	   position: fixed!important;
     height: 100%!important;
    }

  }
.nav-sec .navbar-default{
     background-color: #1f1f1f;
    border: 0;
    margin: 0 !important;
    border-radius: 0;
    padding: 0 !important;

    }

    .nav-sec .navbar-brand{
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 6px;
		transition: all 0.5s;
    }

    .nav-sec .navbar-brand b{
        color:#fa2c27;

    }

    .nav-sec .navbar-default .navbar-nav>li>a{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;
		font-family: normal;
	    }

    .nav-sec .navbar-default .navbar-nav>li>a {
        padding: 25px 15px;
        transition: 0.02s;

    }
    @media (min-width:768px) and (max-width:1024px) {
        .nav-sec .navbar-default .navbar-nav>li>a{
            font-size: 14px;
        }
        .nav-sec .navbar-brand{
            font-size: 28px;
           margin-top: 8px !important;


        }

    }
     @media (max-width:812px) {
        .nav-sec .navbar-brand{
            margin-top: -2px;
        }
    }

    .nav-sec .navbar-default .navbar-nav>.active>a,
    .nav-sec .navbar-default .navbar-nav>.active>a:focus,
    .nav-sec .navbar-default .navbar-nav>.active>a:hover{
         background-color:#fa2c27;
         color: #fff;
    }

    .nav-sec .navbar-brand:hover {
        color:#fff;
    }
	/* end navbar section */
  .icon-home{
      font-size: 22px!important;
  }

  body{
      overflow-x: hidden;
  }

  .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li:nth-child(2) .active_hotel{
      font-size: 18px;
      padding-left: 5px;
      color: #Fa2c27;
  }

  .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li {
    color: #acccca;
}

.navbar-collapse.collapse
, .page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a
, .page-footer
, .page-content-wrapper
, .page-sidebar-menu.page-sidebar-menu-hover-submenu li a > .arrow
, .page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
    background-color: #1f1f1f !important;
}

.page-content-wrapper .page-content{
    padding: 16px
}

a:hover{
    text-decoration: none;
}

input:focus{
outline: none;
}
.page-header.navbar .page-logo {
    background-color: #fa2c27;
}

i.icon-navbar-slide {
    color: #fff !important;
}

li.active i.icon-navbar-slide {
    color: #fa2c27 !important;
}

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: solid 1px #333;
}

.page-title {
    font-size: 35px;
    font-weight: 500;
}

.page-title small {
    font-size: 16px;
    font-weight: 400;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #fa2c27 !important;
}

.search-form .input-group input[type='text'] , .search-form .input-group span {
    color: #1f1f1f !important;
    font-weight: 600;
}

@media (max-width: 767px) {
    .page-header.navbar {
        background: #1f1f1f;
    }
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background-color: #1f1f1f;
}

p {
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 10px;
	font-weight:500;
	color: #878C9F;
}

blockquote {
	float:left;
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 15px solid #eee;
	position:relative;
}
blockquote:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f10e";
	position:absolute;
	color:#ccc;
	bottom:3px;
	font-size:43px;
	right:6px;
	opacity:0.4
}
blockquote p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#494949;
}
/*------ loader-------------------------------------------------*/

.pulse  , .ajax-loader-cirle{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:100%;
	animation: spin 1000ms linear infinite;
}
.pulse:before  , .ajax-loader-cirle:before{
	content:'';
	position:absolute;
	width:12px;
	height:4px;
	border-radius:4px;
	background:#fff;
	left:50%;
	top:50%;
	margin:-2px 0 0 -12px;
}

@keyframes spin {
   to{
        -webkit-transform: rotate(360deg);
transform: rotate(360deg);
    }
}
/* ---------Content Styles--------------------------------------*/
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
}
.container{
	/* max-width: 1224px; */
	max-width:96%;
	margin:0 auto;
	position: relative;
	z-index:1;
    margin-left: 0!important;

}

.list-main-wrap .container{
	max-width:91%;
    margin-left: 0!important;
}
.big-container {
	max-width:1500px;
}
.small-container {
	max-width:1024px;
}
#wrapper {
	float:left;
	/* width:100%; */
	position:relative;
	z-index:5;
    margin-left: 200px!important;
    margin-top: 20px!important;
   max-width: 80%;
}
#wrapper.home-wrap {
	padding-top:0;
}
.content {
	position:relative;
	z-index:1;
	float:left;
	/* margin: 0px 10px 10px 22px!important; */
	background:#fff;
	/* overflow:hidden; */
}
.fl-wrap {
	float:left;
	width:100%;
	position:relative;
}
.no-bg {
	background:none;
}
.full-height {
	height:100%;
}
.full-width-wrap {
	width:100%;
}
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background-size: cover;
	background-attachment: scroll  ;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
}
.wave-bg  , .city-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background:url(../images/wave.png) repeat;
}
.respimg {
	width:100%;
	height:auto;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.2;
	z-index:2
}
.op1 {
	opacity:0.1;
}

.op3 {
	opacity:0.3;
}
.op7 {
	opacity:0.5 !important ;
}
.box-item {
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
}
.box-item:before {
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	z-index:2;
	background:rgba(51,51,51,0.41);
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.box-item a.gal-link{
	position:absolute;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:100%;
	color:#fff;
	font-size:8px;
	z-index:10;
	top:40%;
	left:50%;
	margin:-20px 0 0 -20px;
	opacity:0;
	box-shadow: 0px 0px 0px 9px rgba(255,255,255,0.4);
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.list-single-gallery .box-item {
	border-radius:6px;
	transition: all  0.5s;
}
.box-item:hover a.gal-link {
	top:50%;
	opacity:1;
}
.box-item:hover:before {
	opacity:1;
}
.fw-separator {
	float:left;
	width:100%;
	margin:25px 0;
	height:1px;
	background:#eee;
}
.no-padding {
	padding:0 !important;
}
/*-------------Button---------------------------------------*/
.btn{
	padding:0 80px 0 30px;
	height:44px;
	line-height:44px;
	border-radius:4px;
	color: #fff;
	font-weight:600;
	font-size:12px;
	text-align:left;
	position:relative;
	overflow:hidden;
	display:inline-block;
	    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
}
.btn.no-shdow-btn {
	box-shadow:none;
}
.btn.whitebtn i {
	border-color:#eee;
}
.btn:after {
	content:'';
	position:absolute;
	width: 50px;
	height: 100%;
	background: rgba(255,255,255,0.2);
	z-index: 0;
	right: 0;
	top: 0;
	transition: all 200ms linear;
}

.btn:hover:after {
	width: 120%;
	background: rgba(255,255,255,0.1);

}
.btn i {
	position:absolute;
	right:0;
	width:50px;
	height:44px;
	line-height:44px;
	border-left:1px solid  rgba(255,255,255,0.21);
	text-align:center;
	top:0;
}
.btn.float-btn {
	float:left;
	margin:10px 0 0;
}
.btn.flat-btn {
	color:#fff;
}
.down-btn {
	float:left;
	padding:15px 20px;
	margin-right:15px;
	margin-top:15px;
	color:#fff;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.2);
	font-size:12px;
	border-radius:4px;
}
.down-btn i {
	padding-right:10px;
	font-size:16px;
}
.list-author-widget-text .btn {
	display:inline-table;
	margin-top:16px;
}

.btn_all_hotel{
	background-color: #fa2c27;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 18px;
	border: 0;
	padding: 9px 14px;
	border-radius: 5px!important;
	margin: 50px 0 20px 0px;
	box-shadow: 0 0  19px rgb(195, 104, 104);
}
.list-single-btn {
	display:inline-block;
	padding:15px 35px;
	background:#fff;
	margin-top:90px;
	border-radius:30px;
	position:relative;
	border:1px solid #eee;
	font-size:14px;
}
.list-single-btn i{
	padding-left:10px;
}
.load-more-button {
	display:inline-block;
	color:#fff;
	padding:15px 70px;
	margin-top:20px;
	border-radius:6px;
	font-weight:700;
	background: #18458B;
	box-shadow: 0px 0px 0px 7px rgba(204,204,204,0.4);
}
.load-more-button i {
	float:right;
	margin-left:18px;
	top:2px;
	position:relative;
	animation-name: spin;
	animation-duration: 900ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
/*-------------accordion---------------------------------------*/

/*------listing------------------------------------------------*/
.grey-blue-bg {
	background: #ECF6F8;
}
.col-list-wrap {
	position:relative;
	max-width:100%;
	float:left;
	background:#ECF6F8;
	min-height: 100vh;
	z-index:50;
	left:0;
	box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.17);
	transition: all .2s ease-in-out;
	padding-bottom:40px;
}
.fw-col-list-wrap {
	width:100% !important;
	box-shadow: 0px 0px 0 0px rgba(0, 0, 0, 0.27);
	background:none;
	padding-bottom:0;
}
.fw-col-list-wrap  .list-main-wrap-opt {

	padding:0 8px;
	margin-top:0;
}
.fh-col-list-wrap , .center-col-list-wrap {
	width:100%;
}
.filter-sidebar {
	padding:25px 30px;
	border-radius:10px;
	background:#fff;
	border:1px solid #eee;
	z-index:120;
}
.filter-sidebar .col-list-search-input-item {
	margin-bottom:25px;
	margin: 20px!important;
}
.filter-sidebar .col-list-search-input-item:last-child {
	margin-bottom:0;
}
.filter-sidebar .col-list-search-input-item label {
	margin-bottom:15px;
}
.filter-sidebar .col-list-search-input-item .filter-tags label {
	margin-bottom:0;
}

.list-wrap-search  {
	padding:25px 0;
	background:#fff;
	z-index:0!important;
	max-width: 92%;
}

.left-list{
    /* max-width: 80%; */
}

.list-wrap-search.lisfw {
	margin-bottom:50px;
	border-radius:10px;
}
.search-opt-wrap {
	margin-top:20px;
}
.range-slider-wrap {
	margin-top:6px;
}
.search-opt-container .filter-tags li{
	float:left;
	/* width:100%; */
	margin-bottom:10px;
	text-align:left;
	font-size:11px;
}
.filter-tags .listing-rating   i{
	padding-right:3px;
	font-size:10px;
}
 .four-star-rating .listing-rating   i:nth-child(5) ,   .three-star-rating .listing-rating   i:nth-child(4) ,   .three-star-rating .listing-rating   i:nth-child(5) {
	color:#ccc;
}
.filter-tags .listing-rating span {
	color:#999;
	padding-left:6px;
}
.leave-rating-title {
	margin-right:10px;
	font-weight:500;
	font-size:14px;
	color:#666;
	position:relative;
	top:-3px;
}
.leave-rating input[type="radio"] {
    display: none;
}
.leave-rating label {
    font-size: 12px;
    float: right;
    letter-spacing: 4px;
    color: #FACC39;
    cursor: pointer;
    transition:all 0.3s;
}
.leave-rating-holder .leave-rating   {
	float:left;
	margin-top:6px;
	transition: all 0.5s;
}
.leave-rating label:hover:before  , .leave-rating label.selected:before , .leave-rating  label.min-star:before {
	font-weight:bold;
}
.leave-rating:hover input[type="radio"]:checked~label:before , .leave-rating input[type="radio"]:checked~label:before  , .leave-rating label:hover~label:before{
	font-weight:bold;
}
.hidden-listing-filter {
	padding:25px 20px 0;
	margin-top:25px;
	border-top:1px solid #eee;
	display:none;
}
.hidden-listing-filter-vis {
	opacity:1
}
.hidden-listing-filter h4 {
	float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    color: #878C9F;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.list-main-wrap {
    /* margin-left: 290px!important; */
    /* max-width: 1100px; */
    /* width: 80%!important; */
}

.list-main-wrap-title {
	padding:20px 0;
	margin-top:10px;
	border-bottom:1px solid #e3e3e3;
}
.list-main-wrap-title.single-main-wrap-title {
	margin-top:0;
	padding-top:0;
	margin-bottom:40px;
	border-bottom:1px solid #eee;
}
.fw-col-list-wrap  .list-main-wrap-opt  .list-main-wrap-title {
	padding:0 0 10px 0;
	margin-top:0;
	margin-bottom:10px;
}
.list-main-wrap-title h2 {
	text-align:left;
	font-weight: 500;
    font-size: 18px;
	float:left;
	font-family: 'Montserrat', sans-serif;
	color: #888DA0;
}
.list-main-wrap-title h2 span{
	color: #fa2c27!important;
}
.list-main-wrap-opt {
	margin-top:20px;
}
.fw-col-list-wrap .list-main-wrap-opt .list-main-wrap-title.col-title {
	margin-bottom:20px;
}
.list-main-wrap-opt-sb {
	margin-top:0;
}
.half-tags {
	width:50%;
}
.price-opt  , .price-opt ul  , .price-opt-title , .price-opt ul li{
	float:left;
}
.price-opt {
	position:relative;
	top:10px;
}
.price-opt-title {
	color:#666;
	font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
	float:left;
}
.price-opt   .listsearch-input-item {
	float:left;
	margin-left:20px;
	position:relative;
	top:-15px;
	width:200px;
}
.price-opt   .listsearch-input-item .nice-select {
	background:#fff;
	width:100%;
}
.grid-opt {
	float:right;
}
.grid-opt li {
	float:left;
	margin-left:10px;
}
.grid-opt li span {
	float:left;
	font-size:14px;
	font-weight:900;
	color:#ccc;
	background:#fff;
	width:36px;
	height:36px;
	border-radius:100%;
	border:1px solid #eee;
	line-height:36px;
	cursor:pointer;
}
.listing-item-container {
	margin-top:20px;
    /* overflow: hidden; */
}
.listing-item {
	float:left;
	width:50%;
	padding:0 8px 0 0;
	margin-bottom:12px;
	position:relative;
}
.listing-item:nth-child(even) {
	padding:0 0 0 8px;
}
.three-columns-grid .listing-item {
	width:33.3%;
	padding:0 8px !important;
}
.listing-item.has_one_column , .slick-slide-item .listing-item  {
	width:100%;
}
.listing-item.has_one_column  {
	padding:0!important;
}
.listing-item.has_one_column .geodir-category-listing  {
	padding-left:13px !important;
}
.listing-item.has_one_column .geodir-category-img {
	width:40%;
	border-radius: 10px;
	top:12px;
}
.listing-item.has_one_column  .hotel-card .geodir-category-img {
	width:100%;
	border-radius: 10px;
	top:0;
}
.three-columns-grid .listing-item.has_one_column .geodir-category-listing {
	padding-left:0 !important;
}
.three-columns-grid .listing-item.has_one_column .geodir-category-img {
 	top:0px;
}
.listing-item.has_one_column .geodir-category-content {
	width:60%;
}
.slick-slide-item .listing-item  {
	padding:0 10px;
	margin-bottom:0;
}
.geodir-category-listing {
	border-radius:10px;
	background:#fff;
	border:1px solid #eee;
}
.geodir-category-content {
	padding:20px;
	z-index:2;
}
.geodir-category-img {
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
	z-index:1;
 	border-radius:10px 10px 0 0;
}
.geodir-category-img .listing-counter {
	top:20px;
	left:20px;
}
.geodir-category-img .listing-counter strong {
	padding-left:4px;
}
.geodir-category-img img  , .gallery-item img{
	width:100%;
	height:auto;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
  	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
}
.geodir-category-img:hover img , .gallery-item:hover img{
	-webkit-transform: scale(1.15);
	-moz-transform:scale(1.15);
	transform: scale(1.15);
}
.listing-avatar {
	position:absolute;
	top:20px;
	left:20px;
	z-index:4;
}
.listing-avatar img {
	width:34px;
	height:34px;
	border-radius:50%!important;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2);
}
.avatar-tooltip {
	position:absolute;
	top:2px;
	margin-top:20px;
	opacity:0;
	left:100%;
	margin-left:20px;
	min-width:150px;
	visibility: hidden;
	padding:9px 0;
	border-radius:4px;
	background: #fa2c27;
	color: #fff !important;;
	font-size:12px;
	font-weight:bold;
	transition: all .2s ease-in-out;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.2);
}
.listing-avatar:hover .avatar-tooltip {
	margin-top:0;
	opacity:1;
	visibility:visible;
	padding: 5px;
}

.avatar-tooltip strong{
	color: yellow;
}
.geodir-category-content p {
	text-align:left;
	font-size:12px;
	color:#999;
}
.geodir-category-content h3 , .cart-details_text .geodir-category-content-title-item h3 {
	float:left;
	text-align:left;
	font-weight:600;
	font-size:16px;
	margin-bottom:10px;
}
.geodir-category-content h3 a{
	color: #Fa2c27;
	font-size: 21px;
}
.geodir-category-content h3 a:hover{
	color: #Fa2c27!important;
}
a:hover , a:focus{
	text-decoration: none;
}
.geodir-category-content-tags {
	margin-top:10px;
}
.category-name {
	float:left;
	margin-right:10px;
	position:relative;
	color:#999;
	top:-2px;
	border-radius:2px;
	background:#eee;
	padding: 4px 14px;
}
.geodir-category-opt {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:3;
	padding:10px 20px;
	cursor:pointer;
}
.geodir-category-opt h4 {
	float:left;
	width:100%;
	text-align:left;
	font-size:16px;
	font-weight:600;
	margin-bottom:1px;
}
.geodir-category-opt h4 a{
	color:#fff;
}
.geodir-category-opt .listing-rating{
	float:left;
	position:relative;
	top:10px;
}
.geodir-category-opt .listing-rating i {
	font-size:10px;
	margin-right:4px;
}
.geodir-category-opt  .rate-class-name{
	float:right;
	position:relative;
	top:-6px;
}
.geodir-category-opt  .rate-class-name .score {
	float:left;
	color:  #fff;
	margin-right:10px;
	font-size:11px;
}
.geodir-category-opt  .rate-class-name .score strong {
	display:block;
	text-align:right;
	margin:5px 0 2px;
	font-style:normal;
	color:#fff;
	font-size:13px;
 	font-family: 'Montserrat', sans-serif;
	font-weight:500;
}
.geodir-category-opt  .rate-class-name span {
	background: #fa2c27;
	color:#fff;
	float:left;
	font-weight:600;
	border-radius: 5px 5px 5px 0;
    padding: 12px;
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,0.2);
}
.geodir-category-content-title {
	padding-bottom:20px;
	margin-bottom:10px;
	border-bottom:1px dotted #ccc;
}
.geodir-category-content-title:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f59f";
	position:absolute;
	color:#ccc;
	top:0;
	right:0;
	font-size:25px;
	font-weight:500;
	z-index:-1;
	opacity:0.5;
}
.geodir-category-content-title-item {
	float:left;
	width:100%;
	position:relative;
	z-index:1;
}
.facilities-list {
	margin:12px 0 12px;
	list-style:none;
}
.facilities-list li {
	float:left;
	margin-right:14px;
	cursor:pointer;
	position:relative;
}
.facilities-list li i {
	color:#ADC7DD;
	font-size:16px;
}
.facilities-list li span {
	position:absolute;
	opacity:0;
	left:-20px;
	top:-34px;
	height:26px;
	line-height:26px;
	min-width:90px;
	color:#fff;
	font-size:12px;
	visibility: hidden;
	border-radius:4px;
	padding-left: 8px;
	font-weight: 600;
	background: #fa2c27;
}
.facilities-list li:hover span {
	visibility:visible;
	opacity:1;

}
.geodir-category-footer{
	margin:4px 0 0 0;
	padding:18px 130px 0 0;
	border-top:1px dotted #ccc;
}
.geodir-category-price {
	float:left;
	font-size:11px;
	color:#999;
	font-weight:600;
    background: #F7F9FB;
	padding:9px 12px;
	border-radius:4px;
	border:1px   dotted #e4e4e4;
	text-transform:uppercase;
}
.geodir-category-price span{
	font-weight:600;
	margin-top:6px;
	font-size:13px;
	color:#Fa2c27!important;
}
.geodir-category-location a {
	float:left;
	text-align:left;
	color:#999;
	font-weight:600;
	text-transform:uppercase;
	font-size:11px;
}
.geodir-category-location a  i {
	padding-right:6px;
}
.geodir-opt-list {
	position:absolute;
	right:0;
	width:130px;
	top:16px;
}
.geodir-opt-list a {
	float:right;
	width:36px;
	height:36px;
	margin-left:5px;
	background: #ECF6F8;
	line-height:40px;
	position:relative;
	color:#999;
	border-radius:4px!important;
	font-size:15px;
	padding-left: 8px;
	transition: all 0.5s;
}

.custom-scroll-link{
padding-left: 7px;
padding-top: 7px;
border-radius: 4px;
background-color: #fa2c27!important;
color: #fff!important;
}

.custom-scroll-link i{
   font-size: 25px;
	color: #fff!important;
	}
.geodir-opt-list a:hover  i , .show-search-button:hover i{
	transition: all .2s ease-in-out;
    animation: bounce 1s;
	color:#fff;
}

.geodir-opt-list a:hover{
	background-color: #Fa2c27!important;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    80% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
.geodir-opt-link {
	padding-right:6px;
}
.geodir-opt-link a {
	float:left;
	height:36px;
	line-height:36px;
	color: #fff;
	background: #ECF6F8;
	width:100%;
	font-weight:500;
	border-radius:4px;
	text-align:left;
	padding-left:20px;
}
.geodir-opt-link a:hover{
	background: #18458B;
}
.geodir-opt-link a i {
	position:absolute;
	right:0;
	width:40px;
	height:36px;
	line-height:36px;
	top:0;
	font-size:8px;
    border-left: 1px solid rgba(255,255,255,0.21);
    text-align: center;
}
.geodir-opt-link a:hover {
	color:#fff;
}
.geodir-opt-tooltip {
	position:absolute;
	opacity:0;
	right:0;
	top:-40px;
	height:30px;
	line-height:30px;
	min-width:100px;
	margin-left:-75px;
	color:#fff;
	font-size:13px;
	visibility: hidden;
	border-radius:4px;
	padding: 3px 2px 5px 7px;
	font-weight: 600;
	letter-spacing: 0.5px;
	background-color: #Fa2c27!important;

}
.geodir-opt-tooltip strong {
	color:#fff;
	padding-left:6px;
}
.geodir-opt-list a:hover .geodir-opt-tooltip {
	opacity:1;
	visibility:visible;
}
.sale-window {
	border-radius: 4px!important;
	position:absolute;
	right:20px;
	top:20px;
	z-index:3;
	background:#fa2c27;
	padding:8px 18px;
	font-size:13px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transform: translate3d(0,0,0);
}

.sale-window.big-sale:after {
	border-bottom: 14px solid #Fa2c27!important;
}
.sale-window.big-sale:before {
	border-top: 14px solid #Fa2c27!important;
}
.sale-window.big-sale {
	background:#fa2c27!important;
}
.map-popup-wrap {
	display:block;
	width:300px !important;
	position:relative;
}
.map-popup {
	display:block;
	width:100%;
	position:relative;
	overflow:hidden;
	border-radius:10px;
	background:#fff;
	box-shadow: 0 9px 16px rgba(58, 87, 135, 0.15);
}
.map-popup-wrap:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin-top:-1px;
	z-index:20;
}
.map-popup-wrap:before {
	border-color:  transparent;
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}
.map-popup img {
	width:100%;
	height:auto;
}
.listing-content {
	background:#fff;
	padding:20px 20px;
	z-index:20;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.listing-content:before {
	font-family: Font Awesome\ 5 Pro;
	content: "\f35d";
	position:absolute;
	color:#ccc;
	top:20px;
	right:20px;
	font-size:25px;
	font-weight:500;
	z-index:-1;
	opacity:0.5;
}
.listing-title h4 {
	font-size:16px;
	text-align:left;
	font-weight:500;
}
.map-popup-location-price {
	position:absolute;
	left:20px;
	top:24px;
	padding:6px 7px;
	font-size:12px;
	z-index:20;
	font-weight:700;
	border-radius:4px;
	overflow:hidden;
}
.map-popup-location-price strong {
	color:#fff;
	float:left;
	width:100%;
	margin-bottom:4px;
	font-size:11px;
	font-weight:400;
}
.map-popup-location-info {
	float:left;
	width:100%;
	margin-top:10px;
    color: #878C9F;
    font-weight: 500;
    font-size: 12px;
	text-align:left;
}
.map-popup-location-info i{
	padding-right:6px;
}
.map-card-rainting {
	position:absolute;
	left:0;
	width:100%;
	top:-40px;
	padding:15px 20px;
	z-index:2;
}
.map-popup-location-price:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #061B41;
    opacity: 0.5;
}
.map-card-rainting i {
	float:left;
	margin-right:4px;
}
.infoBox-close {
	position:absolute;
	width:36px;
	height:36px;
	line-height:36px;
	top:30px;
	right:20px;
	color:#fff;
	border-radius:6px;
	z-index:20;
	cursor:pointer;
	-webkit-transition: all 300ms;
  	transition: all 300ms;
}


.header-search-input-item-icon i{
	color: #Fa2c27;
	padding-left: 5px;
}

.pagination {
	margin-top:30px;
	text-align:center;
	float:left;
	width:100%;
}
.pagination  a {
	display:inline-block;
	width:44px;
	height:44px;
	line-height:44px;
	border-radius:6px;
 	border:1px solid #eee;
	box-sizing:border-box;
	position:relative;
	font-size:13px;
	color:#888DA0;
	background:#fff;
	letter-spacing:1px;
}
.pagination a.current-page, .pagination a:hover {
    color:#fff;
	background-color: #Fa2c27!important;
	border-radius: 6px!important;
}
.current-page-2{
	background-color: #fff;

}

.nextposts-link:hover .icon_pagination{
	color: #fff;
}

.prevposts-link:hover .icon_pagination{
	color: #fff;
}


.color2-bg, .header-search-button, .pac-item:hover, .close-header-search, .footer-widget #subscribe-button:hover, .cs-mumber-button, .irs-slider, .pagination a:hover, .cluster div, .infoBox-close:hover, .show-more-filters.active-hidden-opt-btn, .load-more-button:hover, .daterangepicker .drp-buttons .btn.btn-default, .header-sec-link a:hover, .scroll-nav-wrapper .show-hidden-map, .ajax-loader-cirle:before, .dashboard-list-box.activities .new-dashboard-item:hover, .dasboard-menu li a span, .dasboard-menu li ul li span, .text-carousel-wrap .sw-btn, .price-link:hover, .price-num.col-dec-3:before, section.color-bg .section-separator:before, .add-hotel:hover, .success-table-header a:hover, .dashboard-listing-table-opt li a.del-btn {
    background: #Fa2c27!important;
}



.pagination  a i {
	font-size:12px;
}



.back-to-filters {
	position:absolute;
	right:-40px;
	width:40px;
	height:40px;
	top:15px;
	font-size:14px;
	color:#fff;
	line-height:40px;
	z-index:-1;
	background: #Fa2c27!important;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}
.back-to-filters span {
	visibility:visible;
	position:absolute;
	height:40px;
	min-width:150px;
	line-height:40px;
	visibility:hidden;
	opacity:0;
	top:0;
	font-size:13px;
	left:-150px;
	margin-top:20px;
	 -webkit-transition: all 300ms;
  	transition: all 300ms;
	font-weight:500;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	background: #Fa2c27!important;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.5px;
	padding-left: 7px;
}
.back-to-filters:hover span {
	margin-top:0;
	visibility:visible;
	opacity:1;
}
.back-to-filters:hover  i , .wishlist-link:hover i{
    animation: bounce 1s;
}
.slideshow-container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:110%;
	z-index:1;
}




/*-------------Sliders---------------------------------------*/
.slideshow-container {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:110%;
	z-index:1;
}
.slideshow-item  , .slideshow-container .slick-slide{
	position:relative;
	float:left;
	width:100%;
	height:100%;
}
.sw-btn{
	position:absolute;
	top:50%;
	width:36px;
	height:36px;
	line-height:36px;
	border-radius:100%;
	color:#fff;
	font-size:10px;
	z-index:120;
	cursor:pointer;
	margin-top:-18px;
	box-shadow: 0px 0px 0px 9px rgba(255,255,255,0.4);
}
.sw-btn.swiper-button-prev {
	left:50px;
}
.sw-btn.swiper-button-next {
	right:50px;
}
.sw-btn:hover {
	background: #2C3B5A;
}
.single-carousel .slick-dots , .listing-carousel .slick-dots {
	bottom:-40px;
}
.single-carousel   .slick-dots li button  , .listing-carousel .slick-dots li button {
	background:#BDCBDB;
}
.list-carousel {
    padding: 0 30px;
}
.list-single-carousel-wrap {
	height:500px;
	background: #24324F;
}
.fw-carousel .slick-slide-item {
	width:auto;
	height:500px !important;
	float:left;
	cursor: w-resize;
}
.fw-carousel .slick-slide-item img {
	width:auto  ;
	height:100%   !important;
}
.list-single-carousel-wrap    .slick-slide-item .box-item {
	height:100%;
	z-index:20;
}
.list-single-carousel-wrap    .slick-slide-item .box-item:before {
	display:none;
}
.list-single-carousel-wrap    .swiper-slide:first-child {
	padding-left:0px;
}
.list-single-carousel-wrap    .slick-slide-item    .box-item a.gal-link {
	top:-100px;
	left:inherit;
	right:50px;
}
.list-single-carousel-wrap    .slick-slide-item   .box-item:hover a.gal-link {
	top:50px;
}
.list-single-carousel-wrap .sw-btn , .single-slider-wrapper .sw-btn {
	top:50%;
}
.list-carousel .sw-btn.swiper-button-prev {
	left:8px;
}
.list-carousel .sw-btn.swiper-button-next {
	right:8px;
}
.single-slider-wrapper img , .inline-carousel img {
	width:100%;
	height:auto;
}
.single-slider-wrapper .slider-nav .slick-slide-item  {
	cursor:pointer;
	opacity:0.7;
	-webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}
.single-slider-wrapper .slider-nav  .slick-current .slick-slide-item , .single-slider-wrapper .slider-nav  .slick-slide-item:hover {
	opacity:1;
}
.slick-dots {
	position:absolute;
	bottom:40px;
	left:0;
	width:100%;
}
.inline-carousel .slick-dots {
	bottom:20px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 6px;
    height: 6px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background:  rgba(255,255,255,0.81);
	border-radius:100%;
}
/*-------------scroll-nav-wrapper---------------------------------------*/
.scroll-nav-container {
	padding-top:110px;
}
.scroll-nav-wrapper {
	background:#fff;
	border-bottom:1px solid #eee;
	padding:14px 0;
	-webkit-transform: translate3d(0,0,0);
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
.scroll-nav-wrapper .scroll-nav li {
	float:left;
	position:relative;
	overflow:hidden;
}
.scroll-nav-wrapper .scroll-nav li a {
	padding:0 30px;
	float:left;
	height:100%;
	height:40px;
	line-height:40px;
	position:relative;
	font-weight:700;
	color:#888DA0;
	font-size:12px;
	background: #ECF6F8;
}
.scroll-nav-wrapper .scroll-nav li:last-child {
	border-radius:0 4px 4px 0 ;
}
.scroll-nav-wrapper .scroll-nav li:first-child  {
	border-radius:4px 0 0 4px;
}
.scroll-nav-wrapper .scroll-nav li a.act-scrlink {
	color:#fff;
}
.scroll-nav-wrapper .show-hidden-map {
	float:right;
	position:relative;
	color: #fff;
	border-radius:4px;
	height:40px;
	line-height:40px;
	padding:0 25px;
	font-size:12px;
	font-weight:600;
    background: #18458B;
}
.scroll-nav-wrapper .show-hidden-map:hover {
	background: #18458B;
}
.scroll-nav-wrapper .show-hidden-map:hover i , .scroll-nav-wrapper .show-hidden-map:hover {
	color:#fff;
}
.scroll-nav-wrapper .show-hidden-map i {
	padding-left:10px;
}
.collage-image {
	position:relative;
	width:352px;
	margin:0 auto;
	height:300px;
}
.collage-image .main-collage-image {
	position:absolute;
	right:-20px;
	bottom:-400px;
}
.images-collage-title {
	position:absolute;
	left:-70px;
	width:180px;
	padding:12px 0;
	z-index:10;
	top:70px;
	border-radius:6px;
	font-weight:800;
	font-size:18px;
	color: #fff;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
    animation: bounce 4s ease-in-out infinite;
}
.images-collage-title span {
	color:#fff;
}
.collage-image:before {
	content:'';
	position:absolute;
	width:250px;
	height:250px;
	top:50%;
	left:50%;
	margin-top:-125px;
	margin-left:-325px;
	border:2px  dotted #fff;
	z-index:-1;
	opacity:0.6;
	border-radius:100%;
}
.collage-image-min  {
	position:absolute;
	z-index:10;
}
.collage-image-min:before {
    top:63px;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
	border-color: transparent;
    border-top-color: #fff;
    border-width: 14px;
    margin-left: 18px;
	z-index:20;
}
.collage-image-min.cim_1 {
	bottom:70px;
	left:80px;
}
.collage-image-min.cim_2 {
	bottom:190px;
	right:80px;
}
.collage-image-min.cim_2 img  {
	animation:cluster-animation 2.5s infinite;
}
.collage-image-min.cim_1 img {
	animation:cluster-animation 3.5s infinite;
}
.collage-image-min.cim_3 {
	bottom:110px;
	right:130px;
}
.collage-image-min img{
	position:absolute;
	width:67px;
	height:67px;
	border:8px solid #fff;
	border-radius:100%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.21);
}
.collage-image-input {
	position:absolute;
	bottom:-40px;
	right:-90px;
	width:190px;
	padding:0 40px 0 16px;
	background:#fff;
	border-radius:6px;
	z-index:10;
	text-align:left;
	font-size:12px;
	color:#999;
	height:40px;
	line-height:40px;
	font-weight:300;
    box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.1);
}
.collage-image-btn{
	color:#fff;
	position:absolute;
	top:40px;
	right:-20px;
	padding:12px 25px;
	border-radius:4px;
	font-size:10px;
	box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.1);
}
.collage-image-input i {
	position:absolute;
	width:30px;
	height:40px;
	line-height:40px;
	right:0;
	top:0;
}
/*------sahre------------------------------------------------*/
.fixed-scroll-column {
	width:50px;
	position:absolute;
	left:15px;
	top:0;
	z-index:20;
}
.share-holder.hid-share   {
	float:left;
	position:relative;
	z-index:20;
}
.fc-button {
	width:50px;
	height:50px;
	float:left;
	position:relative;
	line-height:50px;
	background: #fff;
	cursor:pointer;
	border-radius:4px;
	margin-bottom:4px;
}

.fc-button span {
	position:absolute;
	left:100%;
	margin-left:12px;
	background: #18458B;
	opacity:0;
	visibility: hidden;
	top:8px;
	color:#fff;
	width:120px;
	height:auto !important;
	line-height:1;
	font-size:12px;
	padding:12px 0;
	border-radius:22px;
}
.fc-button:hover span {
	opacity:1;
	visibility:visible;
}
.fixed-scroll-column-share-container {
	display:block;
}
.fixed-scroll-column-share-container {
	display:block;
	float:left;
	width:100%;
    background: #f9f9f9;
	padding:10px 0;
	margin-bottom:4px;
}
.visshare {
	visibility:visible;
	opacity:1;
}



.nav-holder nav li a.act-link, .nav-holder nav li a:hover, .main-register h3 span strong, .header-search-input-item-icon, .subfooter-show-lang i, #footer-twiit .timePosted a:before, .footer-contacts li i, .fc-cont:hover, .custom-form label span, .section-title-separator span i:nth-child(2), .five-star-rating .listing-rating i, .four-star-rating .listing-rating i, .three-star-rating .listing-rating i, .grid-opt li span:hover, .price-opt ul li a i, .geodir-category-opt .listing-rating i, .geodir-category-opt .js-favorite:hover i, .geodir-category-location a i, .map-card-rainting i, .map-popup-location-info i, .daterangepicker .calendar-table th, .listing-rating i, .rooms-details-header h5, .custom-form label i, .nice-select:before, .amenities-list li span.status.status-no, .flatWeatherPlugin ul.wiForecasts li.wi, .widget-posts-date i, .claim-widget-link a:hover, .mapzoom-in, .dashboard-list-box.activities .dashboard-message-text i, .fuzone .fu-text i, .dashboard-message-text h4 span, .tfp-btn:before, .process-wrap li i, .singleMap_visible-title-item h4 i, .flat-title-wrap .breadcrumbs a:before, .breadcrumbs-fs .breadcrumbs a:before, .log-massage a:hover, .cart-total strong, .post-opt li i, .cat-item li span, .post-link, .faq-nav li a.act-faq-link:before, .faq-nav li a:hover:before, .process-item h4 a:hover, .intro-item h6, .collage-image-input i, .inpt_dec, .qty-dropdown-header i, .geodir-category-opt h4 a:hover, .map-modal-container h3 i, .header-user-name:hover, .show-reg-form:hover, .home-btn:hover a, .menusb a.act-link, .footer-social li a:hover, .dashboard-listing-table-text h4 a:hover, .dashboard-listing-table-address i, .map-close, .text-carousel-item a.testim-link:hover {
    color: #Fa2c27!important;
}


/*------responsive------------------------------------------------*/
@media only screen and  (max-width: 1224px) {
.text-carousel .slick-item  {
    padding: 0 5px;
}
.col-list-wrap {
	width:100%;
}
.map-container.column-map {
    width: calc(100% - 800px);
}
.three-columns-grid .listing-item.has_one_column .geodir-category-listing {
	padding-left:13px !important;
}
.three-columns-grid .listing-item.has_one_column .geodir-category-img {
 	top:12px;
}
}


@media only screen and  (max-width: 1064px) {
    .mlc {
        padding:15px 0;
        width:50%;
        color:#fff;
        float:left;
        border-radius:0 4px 4px 0;
        font-size:12px;
        cursor:pointer;
    }
    .mlc:first-child {
        border-right:1px solid rgba(0,0,0,0.21);
        box-sizing:border-box;
        border-radius: 4px 0  0 4px;
    }
    .mlc.fl-wrap {
        width:100%;
        border-radius:4px;
    }
    .mlc i {
        padding-right:10px;
    }
    .col-list-search-input-item .quantity-item {
        margin-right:15px;
        width:auto;
    }


    /* .map-container.column-map.right-pos-map , .map-container.fw-map.big_map.hid-mob-map {
        width: 100%!important;
        right:-100%;
        position: absolute;

        z-index:100 !important;
        -webkit-transform: translate3d(0,0,0);
    } */
    .fixed-mobile {
        position:fixed !important;
        top:110px !important;
    }
    .map-close {
        display:block;
    }

    .nav-button-wrap , .mob-bg {
        display: block;
    }
    .logo-holder{
        margin-left:10px;
    }
    .fixed-footer {
        position:relative !important;
        float:left;
    }
    .main-menu nav ul , video.bgvid , .process-item:before , .back-to-filters , .lws_mobile{
        /* display:none; */
    }
    .process-item {
        margin-bottom:20px;
    }
    .main-menu{
        position: absolute  ;
        top:50px;
        left:-20px;
        width:300px;
        z-index:50;
         padding:15px 10px ;
         background:#fff;
        border-bottom-right-radius:6px;
        border-right:1px solid #eee;
        border-bottom:1px solid #eee;
        visibility:hidden;
        opacity:0;
        -webkit-transition: all 0.4s  ease-in-out;
        transition: all 0.4s  ease-in-out;
    }
    .vismobmenu {
        opacity:1;
        left:0;
        visibility:visible;
    }
    .menusb {
        display:block;
        float:left;
        position:relative;
        width:100%;
        overflow:hidden;
    }
    .main-menu .menusb ul  {
        display:block;
        float:left;
        position:relative;
        width:100%;
    }
    .map-close i{
        color: #Fa2c27!important;
    }
    .menusb li {
        margin: 0;
        float: left;
        width:100%;
        position:relative;
        overflow:hidden;
        padding:0 20px;
    }
    .menusb   li i {
        position:absolute;
        right:18px;
        top:10px;
    }
    .menusb  a {
        float:left;
        width:100%;
        padding:8px 5px;
        position:relative;
        font-weight: 600;
        font-size: 12px;
        color: #50596E;
        line-height:14px;
        text-align:left;
    }
    .menusb  a i{
        transform: rotate(-90deg);
    }
    .menusb a.back{
        padding-left:24px;
    }
    .menusb a.back:before{
        font-family: Font Awesome\ 5 Pro;
        content: "\f177";
        font-size:14px;
    }
    .main-header .container {
        /* width:100%; */
    }
    .home-grid .gallery-item {
        width:50%;
    }
    .home-grid .gallery-item .listing-counter {
        top:20px;
        left:15px;
    }
    .home-grid .gallery-item.gallery-item-second .listing-counter {
        left: inherit;
        right:15px;
        z-index:100;
        top:10px;
    }
    .home-grid .gallery-item  .listing-item-cat{
        padding: 30px 15px 10px;
    }
    section.hero-section  {
        padding:100px 0;
    }
    .light-carousel-wrap , .fw-col-list-wrap .list-main-wrap-opt .list-main-wrap-title.col-title  {
        margin-top:30px;
    }
    .single-facts .inline-facts-wrap {
        width:100%;
        padding:5px 0;
    }
    .collage-image {
        margin-top:40px;
        float:left;
    }
    .images-collage-title  {
        left:10px;
    }
    .pad-top-column-text {
        padding:0;
    }
    .footer-carousel-title {
        top:0;
    }
    .footer-social {
        margin-bottom:30px;
    }
    .contact-btn , .mar-bot-cont {
        margin-top:0;
        margin-bottom:20px;
    }
    .subfooter-lang {
        float:left;
        width:100%;
        margin:15px 0;
    }
    .subfooter-lang-tooltip  {
        right:inherit;
        left:0;
        width:200px;
    }
    .subfooter-nav {
        float:left;
        margin-right:0;
    }
    .card-post , .video-box  , .team-box , .tags-stylwrap a , .price-item   {
        margin-bottom:15px;
    }
    .best-price {
        top: 0;
        transform: scale(1.0);
    }
    .pricing-wrap {
        margin:0;
    }
    .team-box , .three-columns-grid .listing-item {
        width: 50%;
    }
    .success-table-header a {
        top:0;
        margin-top:15px;
        float:left;
    }
    .success-table-header p , #footer-twiit p.tweet  , .contact-btn  {
        width:100%;
    }
    .dasboard-wrap {
        padding-left: 0;
    }
    .dasboard-sidebar {
        position: relative;
        float:left;
        width: 100%;
        z-index: 10;
        top: 0;
        margin-bottom:20px;
    }
    .dasboard-avatar {
        width:30%;
        float:left;
    }
    .dasboard-sidebar-item   {
        width:70%;
    }
    .dasboard-sidebar-item {
        padding:0 10px 0 0;
        text-align:left;
    }
    .dasboard-sidebar-item:before {
        left:0;
        margin-left:0;
    }
    .log-out-btn  {
        background:#F9B90F !important
    }
    .ed-btn  {
        float:left;
    }
    .flat-header {
        padding-top: 140px;
    }
    .dasboard-sidebar-content {
        padding: 20px 0 44px 0;
    }
    .dasboard-sidebar-content:before {
        position: absolute;
        font-family: Font Awesome\ 5 Pro;
        content: "\f085";
        color: #fff;
        right:70px;
        top:70px;
        opacity:0.4;
        font-size:54px;
    }

    .col-list-wrap  , .search-input-item , .search-input-item.midd-input , .search-input-item.small-input , #footer-twiit .timePosted a , .price-item , .three-columns-grid .listing-item.has_one_column {
        width:100%;
    }
    .list-single-main-container {
        padding-left:0;
    }
    .fixed-scroll-column {
        position:relative !important;
        float:left;
        left:0;
        width:100%;
        top:-20px;
    }
    .list-single-hero-rating  {
        float:left;
        margin-top:20px;
    }
    .list-single-hero-links {
        float:left;
    }
    .lisd-link {
        margin-left:0;
        margin-right:10px;
    }
    .list-single-hero-rating .score {
        float:right;
        text-align: left;
        padding-right:0;
        padding-left:15px;
    }
    .list-single-hero {
        padding: 100px 0 0;
    }
    .fc-button  {
        margin-right:5px;
    }
    .fc-button span {
        left:0;
        top:-60px;
    }
    .fixed-scroll-column-share-container {
        position:absolute;
        top:70px;
        left:0;
        background:#18458B;
        padding-left:20px;
        width:180px;
        border-radius:6px;
    }
    .share-container .share-icon{
        float:left;
        width: 20px;
        height: 20px;
        line-height: 20px;
        margin-right:6px;
    }
    .list-single-carousel-wrap , .fw-carousel .slick-slide-item {
        height:400px !important;
    }
    .booking-modal-content {
        padding-right:0;
    }
    .booking-modal-info {
        position: relative;
        height: auto;
        width:100%;
        float:left;
        margin-bottom:30px;
    }
    }



@media only screen and  (max-width: 768px) {
    .home-grid .gallery-item  , .article-masonry , .main-search-input-item , .main-search-button  , .listing-item ,  .rooms-media , .rooms-details  {
        width:100%;
    }
    .show-lang , .show-currency-tooltip , .review-comments-avatar:before ,  .grid-opt , .scroll-nav{
        display: none;
    }
    .show-search-button {
        width: 120px;
    }
    .add-hotel {
        padding: 0 20px;
    }
    .show-reg-form {
        margin-right:20px;
    }
    .header-search-input-item  {
        margin-bottom:15px;
    }
    .header-search-input-item .quantity-item, .col-list-search-input-item .quantity-item {
        width: auto;
    }

    .header-search {
        padding: 20px 30px 10px;
    }
    .main-search-input-item {
        margin-bottom:10px;
    }
    .main-search-input-item input , .main-search-input-item , .main-search-button  {
        border-radius:6px;
    }
    .main-search-input {
        padding:0;
        background:rgba(255,255,255,0.3);
    }
    .main-search-button  , .scroll-nav-wrapper .show-hidden-map{
        position:relative;
        float:left;
    }
    .qty-dropdown {
        z-index:100;
    }
    .home-intro h2  {
        font-size:34px;
    }
    .list-carousel .sw-btn{
        top:26%;
    }
    .light-carousel .slick-slide-item {
        padding:10px 0;
    }
    .light-carousel .slick-slide-item  .hotel-card {
        padding:0 10px;
    }
    .text-carousel .slick-item  {
        padding: 0 25px 0 5px;
    }
    .slider-container .slider-item{
        padding:80px 0 100px;
    }
    .slider-container-wrap .sw-btn {
        top:100%;
    }
    .reviews-comments-item {
        padding: 0 0 30px 0;
    }
    .review-comments-avatar {
        top: -25px;
        left: 25px;
        z-index:30;
        width:50px;
        height:50px;
    }
    .review-comments-avatar img {
        width:50px;
        height:50px;
    }
    .post-nav a{
        margin-bottom:20px;

    }
    #progressbar li{
        width:48%;
        margin-bottom:10px;
    }
    .ed-btn {
        margin-left:30%;
    }
    .listing-item  , .listing-item:nth-child(even){
        padding:0;
    }
    .listing-features li , .list-single-facts .inline-facts-wrap  {
        width:50%;
    }
    .rooms-details  {
        padding-left:0;
    }
    .list-single-hero-header .list-single-hero-price  , .rooms-details{
        margin-top:15px;
    }
    }
    @media only screen and  (max-width: 540px) {
    .home-btn , .show-search-button span{
        display:none;
    }
    .nav-button-wrap   {
        margin-left:10px;
    }
    .show-search-button {
        width: 60px;
    }
    .show-search-button i {
        padding-left: 0;

    }
    .home-intro h2 , .home-intro-card h3   , section.parallax-section .section-title.big-title h2  , .list-single-hero-title h2 {
        font-size:24px;
    }
    section.hero-section  {
        padding:50px 0 100px;
    }
    .list-carousel {
        padding: 0;
    }
    .collage-image .main-collage-image , .collage-image-input {
        right:10px;
    }
    .controls-mapwn {
        width:250px;
        padding: 0 20px;
        height:43px;
        line-height:43px;
    }
    .map-modal-item , .main-register-holder  {
        padding:0 10px;
    }
    .daterangepicker {
        width: 303px !important;
    }
    .team-box  , #progressbar li , .previous-form  , .next-form , .list-single-header-contacts li {
        width: 100%;
    }
    .list-single-header-contacts li {
        text-align:left;
        padding:5px 0;
    }
    .next-form   , .list-single-hero-price {
        float: left;
        margin-top:15px;
    }
    .success-table-header {
        padding: 10px 0 0 0;
    }
    .success-table-header i.decsth {
        position:relative;
        float:left;
        margin-bottom:10px;
    }
    .map-view-wrap {
        position:relative;
        height:auto;
        float:left;
    }
    .map-view-wrap_item  {
        top: 0;
    }
    .map-view-wrap_item , .dasboard-avatar , .dasboard-sidebar-item , .dashboard-message-avatar , .price-opt  , .half-tags  , .three-columns-grid .listing-item , .list-single-main-media .gallery-item  , .listing-features li ,   .list-single-facts .inline-facts-wrap , .review-total , .review-range-container , .facilities-list .btn , .review-score-detail , .review-score-total   {
        width: 100%;
    }
    .facilities-list .btn {
        margin-top:40px;
    }
    .review-score-total {
        margin-bottom:10px;
    }
    .dasboard-avatar , .review-range-container , .review-score-detail  {
        padding:0;
    }
    .dasboard-avatar img {
        width:80px;
        height:80px;
    }
    .list-single-facts .inline-facts-wrap {
        border-top:1px solid #e2e2e2;
        border-left:none;
    }
    .dasboard-sidebar-item {
        padding:0 10px 0 0;
        text-align: center;
    }
    .dasboard-sidebar-item:before {
        left:50%;
        margin-left:-25px;
    }
    .dasboard-sidebar-content {
        padding: 40px 0 44px 0;
    }
    .ed-btn  {
        float: none;
    }
    .tfp-btn {
        top: -70px;
        right:inherit;
        left:0;

    }
    .tfp-det {
        top:-30px;
    }
    .tfp-det-btn {
        float:none;
        display:inline-block;
    }
    .dasboard-sidebar-content:before {
        top:20px;
        right:20px;
    }
    .ed-btn {
        margin-left:0;
    }
    .dasboard-menu  , .dasboard-menu li{
        width:100%;
    }
    .dasboard-menu-btn {
        display:block;
    }
    .dasboard-menu ul.dasboard-menu-wrap {
        display:none;
        background:#fff;
        float:left;
        width:100%;
        padding:10px 20px;
        margin-bottom:20px;
    }
    .dasboard-menu li ul {
        position: relative;
        top:0;
        background: none;
        padding:0;
        width: auto;
        z-index:2;
        border: none;
        opacity:1;
        display:block;
        visibility: visible;
        float:left;
        width:100%;
    }
    .dasboard-menu li ul li {
        float:left;
        width:100%;
        padding:0;
        position:relative;
    }
    .dasboard-menu li ul li span {
        position:absolute;
        top:50%;
        right:0;
        width:16px;
        height:16px;
        margin-top:-8px;
        line-height:16px;
        border-radius:100%;
        font-size:9px;
        color:#fff;
    }
    .dasboard-menu li a i {
        display:none;
    }
    .dasboard-menu li a {
        padding:10px 0 !important;
        background:none !important;
        color:#666 !important;
    }
    .dasboard-menu li a.user-profile-act , .dasboard-menu li a:hover {
        color:#fff !important;
        box-shadow:none;
    }
    #myChartLegend  {
        float:left;
        margin-top:10px;
    }
    #myChartLegend li {
        margin-left:0;
        margin-right:10px;
    }
    .dashboard-message-text {
        margin-left:15px;
    }
    .new-dashboard-item {
        padding:6px 10px;
        right:15px;
    }
    .dasboard-menu {
        top:0;
    }
    .dashboard-message-text {
        margin-left: 0;
        text-align: left;
        padding-left: 0;
    }
    .dashboard-message-avatar  img , .review-total {
        float:left;
        margin-bottom:20px;
    }
    .chat-message , .chat-message.chat-message_user .massage-date  {
        padding-left:0;
        padding-right:0 !important;
    }
    .chat-message .dashboard-message-avatar {
        position:relative;
        top:0;
    }
    .chat-message .dashboard-message-avatar span {
        float:left;
        margin: 10px 0 0 12px;
    }
    .chat-message.chat-message_user .massage-date    {
        float:left;
    }
    .massage-date{
        margin:10px 0;
    }
    .chat-message p:before  {
        display:none;
    }
    .map-close  {
        width:43px;
        height:43px;
        left:260px;
        line-height:43px;
        font-size:12px;
    }
    .list-single-carousel-wrap , .fw-carousel .slick-slide-item {
        /* height:300px !important; */
    }
    .ajax-modal-container {
        width: 500px;
    }
    .ajax-modal-details {
        padding: 20px 25px;
    }
    .ajax-modal-list li {
        width:50%;
    }
    .error-wrap h2 {
        font-size:74px;
    }
    }
    @media only screen and  (max-width: 420px) {
    .add-hotel {
        display:none;
    }
    .show-reg-form {
        margin-right:30px;
    }
    .wishlist-wrap {
        width:300px;
        padding: 25px 10px 0;
    }
    .header-user-name {
        font-size: 11px;
    }
    .header-user-name:before{
        bottom:-1px;
        right:-20px
    }
    .header-user-menu {
        margin-right: 30px;
    }
    .ajax-modal-container {
        width: 400px;
    }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bg {
        background-attachment: scroll !important;
        -webkit-background-size:cover;
        background-position:center;
    }
    }


.col-list-search-input-item {
	padding: 9px;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.7)!important;
}

.nav-holder nav li a.act-link, .nav-holder nav li a:hover, .main-register h3 span strong, .header-search-input-item-icon, .subfooter-show-lang i, #footer-twiit .timePosted a:before, .footer-contacts li i, .fc-cont:hover, .custom-form label span, .section-title-separator span i:nth-child(2), .five-star-rating .listing-rating i, .four-star-rating .listing-rating i, .three-star-rating .listing-rating i, .grid-opt li span:hover, .price-opt ul li a i, .geodir-category-opt .listing-rating i, .geodir-category-opt .js-favorite:hover i, .geodir-category-location a i, .map-card-rainting i, .map-popup-location-info i, .daterangepicker .calendar-table th, .listing-rating i, .rooms-details-header h5, .custom-form label i, .nice-select:before, .amenities-list li span.status.status-no, .flatWeatherPlugin ul.wiForecasts li.wi, .widget-posts-date i, .claim-widget-link a:hover, .mapzoom-in, .dashboard-list-box.activities .dashboard-message-text i, .fuzone .fu-text i, .dashboard-message-text h4 span, .tfp-btn:before, .process-wrap li i, .singleMap_visible-title-item h4 i, .flat-title-wrap .breadcrumbs a:before, .breadcrumbs-fs .breadcrumbs a:before, .log-massage a:hover, .cart-total strong, .post-opt li i, .cat-item li span, .post-link, .faq-nav li a.act-faq-link:before, .faq-nav li a:hover:before, .process-item h4 a:hover, .intro-item h6, .collage-image-input i, .inpt_dec, .qty-dropdown-header i, .geodir-category-opt h4 a:hover, .map-modal-container h3 i, .header-user-name:hover, .show-reg-form:hover, .home-btn:hover a, .menusb a.act-link, .footer-social li a:hover, .dashboard-listing-table-text h4 a:hover, .dashboard-listing-table-address i, .map-close, .text-carousel-item a.testim-link:hover{
	color: #FACC39!important;
}

.page-sidebar-menu.page-sidebar-menu-hover-submenu li .sub-menu {
    position: absolute;
      z-index: 100!important;

}

.page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover .sub-menu{
	display: block;
    position: absolute;
      /* z-index: 100!important; */
}

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
	background-color: #1f1f1f!important;
}

@media (min-width: 676px){
    .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
       position: fixed!important;
       height: 100%!important;
       /* margin: 0!important;
       padding: 0!important; */
    }

   }

   .titil_hide{
       display: none;
       font-size: 50px;
       color: #fff;
       font-weight: bold;
       padding: 12px 12px 0 0px;
       margin-left: -10px!important;
   }

   @media (min-width: 991px){
       .page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
          /* width: 55px!important; */
      }

      .page-logo{
          /* width: 55.5px!important; */
      }

      .page-logo a{
          display: block!important;
      }

      .page-header.navbar .menu-toggler.sidebar-toggler{
          display: block;
      }

      .titil_hide{
       display: block;

        }

        .page-sidebar-menu.page-sidebar-menu-hover-submenu li:hover .sub-menu{
        /* margin-left: 0px; */
       }

      }



.one-col-grid i ,.two-col-grid i {
    color: #Fa2c27!important;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 18px;
}

.nice-select::before {
    color: #Fa2c27!important;
    font-size: 18px;
}

